{{ define "styles" }}
{{ end }}
{{ define "hero" }}
  {{ partial "components/hero" . }}
{{ end }}

{{ define "main" }}
{{ $scratch := newScratch }}
{{ $site := .Site }}
{{ $paginator := .Paginator }}
<main id="main" aria-label="Main Content" tabindex="0">
  {{ .Content }}
  <div class="flex three align-stretch blog-list page-{{ $paginator.PageNumber }}">
    {{ range  $paginator.Pages }}
      {{ if ne .Params.layout "overview" }}
        {{ with .Params.images }}
          {{ $scratch.Set "image" (index . 0) }}
        {{ else }}
          {{ $scratch.Set "image" $site.Data.organization.defaultHeroImage }}
        {{ end }}
        <div>
          <a href="{{ .Permalink | absURL }}"  >
            <article class="card">
              {{ with  ($scratch.Get "image") }}
                  {{ if gt (len .) 1}}
                  {{ partial "components/thumbnail" . }}
                {{ end }}
              {{ end }}
              <time><span>{{ dateFormat "January 2, 2006" .Date }}</span></time>
              <header><span class="line-clamp-2">{{ .Title | title }}</span></header>
              <footer class="summary line-clamp-3">
                {{ .Summary }}
              </footer>
              <div></div>
            </article>  
          </a>  
        </div>
      {{ end }}
    {{ end }}
  </div>
  {{ partial "components/pagination" . }}
</main>
{{ end }}

{{ define "sidebar" }}
  {{ partial "aside-blog" . }}
{{ end }}