@use 'colors' as *;
@use './springboard' as *;
@forward './springboard';

$ms: (
  base: 18px, 
  ratio: 1.6180,
  600px: ( 
    base: 18px,
  ), 
  800px: ( 
    base: 18px, 
  ), 
  1000px: ( 
    base: 18px, 
  ), 
  1200px: ( 
    base: 18px, 
  ), 
  1400px: ( 
    base: 20px,
  ), 
  2200px: ( 
    base: 22px, 
  )
);

$breakpoints: (
  xs: (
    breakpoint: 0,
  ),
  sm: (
    breakpoint: 600px,
  ),
  md: (
    breakpoint: 800px,
  ),
  lg: (
    breakpoint: 1000px,
  ),
  xl: (
    breakpoint: 1200px,
  ),
  xxl: (
    breakpoint: 1400px,
  ),
  xxxl: (
    breakpoint: 2200px,
  ),
);

// Global Plugin Variables
$border: 0.25rem solid; 
$border-color: transparent;
$class-name: "";
$radius: 0;
$font-family: "Lusitana", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$transition: all 0.3s ease;
$breakpoint: 60rem;
$shadow: 0.25rem 0.25rem 0.5rem transparentize($black, .6);
$hr-color: $gray;
$line-height: 1.7;

$container-w-xs: 90%;
$container-w-sm: 90%;
$container-w-md: 90%;
$container-w-lg: 80%;
$container-w-xl: 80%;
$container-w-xxl: 70%;
$container-w-xxxl: 65%;


// Spacing
// creates CSS variables in :root
$space:        0;
$space-min:    $space - 8;
$space-least:  $space - 2;
$space-less:   $space - 1;
$space-more:   $space + 1;
$space-most:   $space + 2;
$space-max:    $space + 7;


// Smaller Space
$space--10: $space - 10; 
$space--9: $space - -9; 
$space--8: $space - -8; 
$space--7: $space - 7; 
$space--6: $space - 6; 
$space--5: $space - 5; 
$space--4: $space - 4; 
$space--3: $space - 3; 
$space--2: $space - 2;
$space--1: $space - 1; 

// Larger Space
$space-1: 1;
$space-2: 2;
$space-3: 3;
$space-4: 4;
$space-5: 5;
$space-6: 6;
$space-7: 7;
$space-8: 8;
$space-9: 9;
$space-10: 10;

// Generic Block Element Spacing
$margin: var(--space-3) 0;
$padding: var(--space-3) 0;

$typographic-margin: var(--space--1) 0;
$typographic-padding: var(--space--1) 0;

// Grid
$grid-space: var(--space-max);
$vertical: $grid-space;
$horizontal: $grid-space;
$grid-sizes: 500 600 700 800 900 1000 1100 1200 1300 1400 1500 1600 1700 1800 1900 2000 2100 2200;


// Button
$button-radius: $radius;
$button-margin: var(--space-least) var(--space-less);
$button-hover-shadow: inset 0 0 0 99em rgba($white, $transparency);
$button-click: inset 0 0 0 99em rgba($black, $transparency);
$button-pseudo-hover-shadow: inset 0 0 0 99em rgba($black, $transparency / 2);
$button-bg: $secondary;
$button-color: $white;
$button-disabled-bg: #bbb;
$button-weight: bold;

// Card
$card-shadow: 0;
$card-border: dotted $border-color;
$card-radius: $radius;
$card-shadow: $shadow;
$card-margin-bottom: var(--space);
$card-padding: var(--space) var(--space);
$card-paragraph-padding: var(--space) var(--space);
$card-header-border-bottom: 1px solid #333;
$card-bg: transparent;
$card-hover-bg: transparent;
$card-hover-scale-image: true;
$card-hover-border-color: $light;

// Checkbox
$checkbox-character: '\2714';
$checkbox-radius: $radius;
$checkbox-radius: $radius;


// Drop Immage
// The ratio for the images (responsive by default)
$dropimage-ratio: 16 / 9;

// The percentage of height (respect of width)
$dropimage-height: percentage(1 / $dropimage-ratio);

$dropimage-background-color: #ddd;

// This comes from camera.svg. Converted with:
// http://dopiaza.org/tools/datauri/index.php
$dropimage-background-image: 'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NDAiIGhlaWdodD0iNjQwIiB2ZXJzaW9uPSIxLjEiPjxnIHN0eWxlPSJmaWxsOiMzMzMiPjxwYXRoIGQ9Ik0gMTg3IDIzMCBDIDE3NSAyMzAgMTY1IDI0MCAxNjUgMjUyIEwgMTY1IDMwMCBMIDE2NSA0MDggQyAxNjUgNDIwIDE3NSA0MzAgMTg3IDQzMCBMIDQ2MyA0MzAgQyA0NzUgNDMwIDQ4NSA0MjAgNDg1IDQwOCBMIDQ4NSAzMDAgTCA0ODUgMjUyIEMgNDg1IDI0MCA0NzUgMjMwIDQ2MyAyMzAgTCAxODcgMjMwIHogTSAzNjAgMjU2IEEgNzAgNzIgMCAwIDEgNDMwIDMyOCBBIDcwIDcyIDAgMCAxIDM2MCA0MDAgQSA3MCA3MiAwIDAgMSAyOTAgMzI4IEEgNzAgNzIgMCAwIDEgMzYwIDI1NiB6Ii8+PGNpcmNsZSBjeD0iMzYwIiBjeT0iMzMwIiByPSI0MSIvPjxwYXRoIGQ9Im0yMDUgMjI1IDUtMTAgMjAgMCA1IDEwLTMwIDAiLz48cGF0aCBkPSJNMjg1IDIwMEwyNzAgMjI1IDM3NiAyMjUgMzYxIDIwMCAyODUgMjAwek0zMTAgMjA1TDMzNyAyMDUgMzM3IDIxOCAzMTAgMjE4IDMxMCAyMDV6Ii8+PHBhdGggZD0ibTQwNSAyMjUgNS0xMCAyMCAwIDUgMTAtMzAgMCIvPjwvZz48L3N2Zz4=';
$dropimage-radius: $button-radius;
$dropimage-margin: $button-margin;

// Generic
$generic-color: $black;
$generic-link-color: inherit;
$generic-shadow-color: #000;
$generic-bg: #fff;
$class-name: "";


// Input
$input-height: var(--space-most);
$input-bg: #fff;

// Label
$label-font-size: -1;

// ! Modal - has no variables right now

// Nav
$nav-height: 3em;
$nav-shadow: $shadow;
$nav-position: fixed;
$nav-sides: .6em;
$nav-responsive: true;
$nav-open-left: false;
$nav-timing: .5s;

// Normalize
$normalize-display: true;
$normalize-ie: true;

// Radio
$radio-size: 1em;
$radio-border: $border;

// Select
$select-height: 0;

// ! Stack has no variables right now

// Table
$table-stripe: rgba(0, 0, 0, .05);

// Tooltip  
$tooltip-background: $black;
$tooltip-size: .8em;

// Offcanvas
$offcanvas-bg: transparent;
$canvas-bg: transparent;
$offcanvasMobileHeight: 24rem;
$offcanvasMobilePaddingTop: 3rem;
$offcanvasDesktopHeight: 10rem;

// Desktop
$desktop-bp: lg;

// Header
$header-bg: transparent; 
$header-color: $black;
$header-brand-w: 33%;
$header-brand-w-desktop: 18%;
$header-padding: var(--space) 0;

// Mobile Nav
$mobile-hamburger-color: $primary;
$mobile-hamburger-bp: lg;
$mobile-hamburger-w: 9%;
$mobile-link-color: $primary;
$mobile-bg-color: transparent;
$mobile-close-color: $primary;
$mobile-link-margin: var(--space);
$mobile-link-padding:  var(--space-least) var(--space-more);

// Menubar
$menubar-menu1-bg: $secondary;
$menubar-menu1-color: $black;
$menubar-menu2-bg: $secondary;
$menubar-menu2-color: $black;

// Main Nav
$main-menu-link-bgColor: transparent;
$main-menu-link-color: $primary;
$main-menu-link-size: -0.25;
$main-menu-link-margin: 0 var(--space-less) 0 0;
$main-menu-margin: 0;
$main-menu-link-padding: var(--space-min);
$main-menu-width: 80%;
$main-menu-justify: flex-end;
$main-menu-align: stretch;
$main-menu-text-transform: uppercase;

// Hero
$hero-height-sm: 100%;
$hero-height-md: 38%;
$hero-height-lg: 40%; // percent relative to the container width
$hero-height-xl: 40%; // percent relative to the container width
$hero-height-xxl: 40%; // percent relative to the container width
$hero-color: $white;
$hero-align: left;
$hero-max: 100%; // max width
$hero-h1: 9; // modular scale ratio font size
$hero-h1-max-char: 18ch;
$hero-heading-color: $white;
$hero-shadow: false;   
$hero-margin: 0 auto;
$hero-line-height: 1.3;
$hero-text-bg: transparent;
$hero-text-align: center;
$hero-text-max-char: 50ch;

$home-hero-height-sm: 60%;
$home-hero-height-md: 55%;
$home-hero-height-lg: 45%; // percent relative to the container width

// Bread crumbs
$breadcrumbsShow: true;
$breadcrumbPadding: var(--space-max) 0 0;

// Content Wrapper
$contentPadding: var(--space-max) 0;

// Main Element
$mainThumbnailShow: true;
$mainSummaryShow: true;
$mainArticleHeadingSize: var(--space-2);

// Aside Elementf
$asideThumbnailShow: false;
$asideSummaryShow: false;
$asideCategoriesShow: true;
$asideArticleHeadingSize: var(--space-2);

// Thumbnails
$thumb-padding: 80%;
$thumb-fit: cover;

// Headings
$h1-font-size: var(--space-4);
$h2-font-size: var(--space-3);
$h3-font-size: var(--space-2);
$h4-font-size: var(--space-1);
$h5-font-size: var(--space);
$h6-font-size: var(--space);
$heading-color: $primary;
$heading-padding-top: var(--space);
$heading-padding-bottom: 0;
$heading-margin-bottom: 0;
$heading-line-height: 1.3;
$heading-font: "Lusitana", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$heading-font-weight: 400;
$heading-text-transform: none;

$block-padding: var(--space-most) 0;
$block-text-align: left;

//Sharing
$share-modal-bg: $white;

//Footer
$footer-bg: $primary;
$footer-color: $white;
$footer-p: var(--space-more);
$footer-link: $white;
$footer-brand-width: 50%;
$footer-brand-width-desktop: 35%;
$footer-locations-width: 85%;

$copyright-font-size: var(--space--1);

// Columns
$columns-gap: 1;
$columns-margin-bottom: 1;