<div id="hero" class="flex">
  <div id="hero-image" class="full">
    {{ with .Params.hero.heroImage }}
      {{ $alt := humanize (index (split (path.Base . ) ".") 0) }}
      {{ $imgSrc := partial "getImgSrcHero" . }}
      {{ partial "picture" (dict "imgSrc" $imgSrc "alt" $alt) }}
    {{ else }}
      {{ with .Site.Data.organization.defaultHeroImage }}
        {{ $imgSrc := partial "getImgSrcHero" . }}
        {{ $alt := humanize (index (split (path.Base . ) ".") 0) }}
        {{ partial "picture" (dict "imgSrc" $imgSrc "alt" $alt) }}
      {{ end }}
    {{ end }}
    {{ with .Params.hero.heroCustomText }}
    <div id="hero-container" class="full text-white align-left">
      <div class="container">
        {{ . | markdownify }}
      </div>
    </div>
   {{ end }}
  </div>
 {{ with .Params.hero.heroCaption }}
 <div id="hero-caption" class="full text-dark bg-secondary align-left">
   <div class="container">
     {{ . | markdownify }}
   </div>
 </div>
{{ end }}
</div>
