{{ $imageExt := path.Ext . }}
{{ $smOptions := dict "image" . }}
{{ $mdOptions := dict "image" . }}
{{ $lgOptions := dict "image" . }}
{{ $xlOptions := dict "image" . }}
{{ $xxlOptions := dict "image" . }}
{{ $xxxlOptions := dict "image" . }}

{{ if ne $imageExt ".svg" }}
  {{ $smOptions = $smOptions | merge (dict "transform" "c_fill,w_150,f_auto") }}
  {{ $mdOptions = $mdOptions | merge (dict "transform" "c_fill,w_200,f_auto") }}
  {{ $lgOptions = $lgOptions | merge (dict "transform" "c_fill,w_300,f_auto") }}
{{ end }}



{{ $smURL := partial "cloudinary-transform" $smOptions }}
{{ $smWebp := partial "getWebpUrl" $smURL }}

{{ $mdURL := partial "cloudinary-transform" $mdOptions }}
{{ $mdWebp := partial "getWebpUrl" $mdURL }}

{{ $lgURL := partial "cloudinary-transform" $lgOptions }}
{{ $lgWebp := partial "getWebpUrl" $lgURL }}

{{ $src := printf "src='%q'" $smURL | safeHTMLAttr }}
{{ $srcset := printf "srcset='%s 150w, %s 200w, %s 300w'" $smURL $mdURL $lgURL | safeHTMLAttr }}
{{ $dataSrc := printf "data-src='%q'" $smURL | safeHTMLAttr }}
{{ $dataSrcSet := printf "data-srcset='%s 150w, %s 200w, %s 300w'" $smURL $mdURL $lgURL | safeHTMLAttr }}

{{ $sizes := "sizes='150px,200px,300px'" | safeHTMLAttr }}


{{ $webpSrcs := slice $smWebp $mdWebp $lgWebp }}
{{ $webpSrc := printf "<source type='image/webp' media='(max-width:300px)' srcset='%s'><source media='(max-width:300px)' srcset='%s'>" $smWebp $smURL }}
{{ $webpSrcMd := printf "<source type='image/webp' media='(max-width:500px)' data-srcset='%s' >" $mdWebp }}
{{ $webpSrcMd := printf "<source type='image/webp' media='(max-width:500px)' data-srcset='%s' >" $mdWebp }}
{{ $webpSrcLg := printf "<source type='image/webp' media='(max-width:640px)' data-srcset='%s'>" $lgWebp }}
{{ $dataWebpSrc := printf "data-src='%q'" $smURL | safeHTMLAttr }}
{{ $dataWebpSrcSet := printf "data-srcset='%s 150w, %s 200w, %s 300w'" $smWebp $mdWebp $lgWebp | safeHTMLAttr }}
{{ $webpSrcSet := printf "%s %s %s" $webpSrc $webpSrcMd $webpSrcLg | safeHTML }}

{{ return (dict "src" $src "srcset" $srcset "dataSrc" $dataSrc "dataSrcset" $dataSrcSet "sizes" $sizes "webpSrc" $webpSrc "webpSrcSet" $webpSrcSet "dataWebpSrc" $webpSrc "dataWebpSrcSet" $webpSrcSet "webpSrcs" $webpSrcs) }}
