@use "../../../config";
@use '../../utility';

.logo-group {
  padding: var(--space) 0;
  justify-content: center;

  > * {
    @include utility.respond-to(lg){
      padding-bottom: 0 !important; 
    }
  }
  img {
    display: block;
    max-width: 80%;
    margin: 0 auto;
  }
}

.block-logos-right {
  img {
    max-height: 20vh;
    width: auto;
    max-width: 100%;
    margin: 0 auto;
  }
}