<div id="skip-menu" class="p-least focusables">
  <div class="container">
    <div class="flex one two-600">
      <div>
        <a class="skip-content"  aria-label="Go to Content" href="#main" tabindex="0">Go to Content</a>
      </div>
      <div>
        <nav aria-label="Breadcrumb">
          <div class="breadcrumb flex-list">
            {{ $siteTitle := "Home" }}
            {{ template "breadcrumbnav" (dict "p1" . "p2" . "siteTitle" $siteTitle ) }}
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>

{{ define "breadcrumbnav" }}
  {{ if .p1.Parent }}
    {{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 "siteTitle" .siteTitle )  }}
  {{ else if not .p1.IsHome }}
    {{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 "siteTitle" .siteTitle )  }}
  {{ end }}
  <div class="breadcrumb-item {{ if eq .p1 .p2 }}active{{ end }}">
    <a href="{{ .p1.Permalink | absURL }}"  {{ if eq .p1 .p2 }}aria-current="page"{{end}}>{{ if .p1.IsHome }}{{ .siteTitle }}{{ else }}{{ .p1.Title | title }}{{ end }}</a>
  </div>
{{ end }}