@use 'sass:meta';
@use './config';

@use 'breakpoint-sass/stylesheets/breakpoint' as *;
@use 'springboard-css/src/sass/plugins/spacing/plugin' as root;
@use 'springboard-css/src/sass/plugins/generic/plugin' as generic;
@use 'springboard-css/src/sass/plugins/normalize/plugin' as normalize;
@use 'springboard-css/src/sass/plugins/label/plugin' as label;
@use 'springboard-css/src/sass/plugins/input/plugin' as input;
@use 'springboard-css/src/sass/plugins/select/plugin' as select;
@use 'springboard-css/src/sass/plugins/radio/plugin' as radio;
@use 'springboard-css/src/sass/plugins/checkbox/plugin' as checkbox;
@use 'springboard-css/src/sass/plugins/table/plugin' as table;
/*@use 'springboard-css/src/sass/plugins/grid/plugin' as grid;*/
/* @use 'springboard-css/src/sass/plugins/nav/plugin' as nav; */
/* @use 'springboard-css/src/sass/plugins/stack/plugin' as stack;*/
@use 'springboard-css/src/sass/plugins/card/plugin' as card;
@use 'springboard-css/src/sass/plugins/modal/plugin' as modal;
@use 'springboard-css/src/sass/plugins/picture/plugin' as picture;
/*
@use 'springboard-css/src/sass/plugins/dropimage/plugin' as drop-image;
@use 'springboard-css/src/sass/plugins/tabs/plugin' as tabs;
@use 'springboard-css/src/sass/plugins/tooltip/plugin' as tooltip;
*/


@include meta.load-css(
  'springboard-css/src/sass/plugins/grid/plugin.scss', 
  $with: (
    'grid-space': config.$grid-space,
    'vertical': config.$vertical,
    'horizontal': config.$horizontal
  )
);

@include meta.load-css(
  'springboard-css/src/sass/plugins/headings/plugin.scss', 
  $with: (
    'h1-font-size': config.$h1-font-size,
    'h2-font-size': config.$h2-font-size,
    'h3-font-size': config.$h3-font-size,
    'h4-font-size': config.$h4-font-size,
    'h5-font-size': config.$h5-font-size,
    'h6-font-size': config.$h6-font-size,
    'heading-color': config.$heading-color,
    'heading-padding-top': config.$heading-padding-top,
    'heading-padding-bottom': config.$heading-padding-bottom,
    'heading-margin-bottom': config.$heading-margin-bottom,
    'heading-line-height': config.$heading-line-height,
    'heading-font': config.$heading-font
  )
);


@include meta.load-css(
  'springboard-css/src/sass/plugins/button/plugin', 
  $with: (
    'button-radius': config.$button-radius,
    'button-margin': config.$button-margin,
    'button-hover-shadow': config.$button-hover-shadow,
    'button-click': config.$button-click,
    'button-pseudo-hover-shadow': config.$button-pseudo-hover-shadow,
    'button-bg': config.$button-bg,
    'button-color': config.$button-color,
    'button-disabled-bg': config.$button-disabled-bg,
    'button-weight': config.$button-weight
  )
);

.button-link a {
  @extend .button;
}