{{ $context := .context }}
{{ $qty := .qty }}
{{ $thumbnail := .thumbnail }}


{{ $news := where $context.Site.RegularPages "Section" $.context.Site.Params.blogSlug }}
{{ $related := $news.Related $context }}

{{ with $related }}
<div class="posts-latest">
  <h3>Related News</h3>
  <ul class="unstyled-list">
    {{ range first $qty . }}
    <li>
      <a href="{{ .Permalink }}">
        {{ partial "article" . }}
      </a></li>
    {{ end }}  
  </ul>
</div>
{{ else }}
  {{ partial "posts-latest" . }}
{{ end }}