<footer id="site-footer" class="bg-transparent" tabindex="0">
  <div id="wcag-commitment" class="bg-primary text-white">
    <div class="container">
      <div class="flex one">
        <div class="">
          <p>Beecan Health services many Skilled Nursing Facilities across Southern California:</p>
          <ul class="list-inline">
            <li>Vista</li>
            <li>Los Angeles</li>
            <li>Corona</li>
            <li>Long Beach</li>
            <li>Sylmar</li>
            <li>Duarte</li>
            <li>Rialto</li>
            <li>Alhambra</li>
            <li>Glendale</li>
            <li>DTLA</li>
            <li>East Hollywood</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="text-primary text-center">
    <p>
      <a href="https://beecanhealth.com" target="new" rel="noopener noreferrer">
        www.becanhealth.com
      </a>
    </p>
  </div>
</footer>
