<div class="location text-center">
  {{ with .locationImage }}
    {{ partial "components/featured-image.html" . }}    
  {{ end }}
  <div class="name">
    <h2 class="h6">{{ .name | title }}</h2>
  </div>
  <span class="street">
    <span class="address1">{{ .address1 }}</span>{{ with .address2 }} <span class="address2">{{ . }}</span>
  </span>
  {{ end }}
  <br/>
  <span class="region">
    {{ with .city }}
    <span class="city">{{ . }}</span>,
    {{ end }}
    {{ with .state }}
    <span class="state"></span>
    {{ end }}
    {{ with .zip }}
    <span class="zip">{{ . }}</span>
    {{ end }}  
  </span>
  {{ with .phones }}
  <ul class="unstyled-list phones">
    {{ range $index,$phone := . }}
    <li>
      <a class="flex-auto" href="tel:{{ .phone | urlize }}">
        {{ with .label }}
        <span class="phone-label sr-only">
          <span class="sr-only">{{ . }}:</span>
        </span>
        {{ end }}
        {{ partial "icons/phone-outline" . }}
        <span>
          {{ .phone }}
        </span>  
      </a>
    </li>              
    {{ end }}
  </ul>            
  {{ end }}
  <a class="flex-auto" href="https://www.google.com/maps/dir/?api=1&destination={{ .address1 | urlize }}+{{ .zip }}" target="new" rel="noopener noreferrer">
    {{ partial "icons/map" . }}
    <span>
      Get Directions
    </span>
  </a>
</div>
