{{ $location := .location }}
{{ $currentPage := .context.Page }}
{{ $site := .context.Site }}
<nav id="{{ .location }}-menubar" aria-label="{{ .location | title }} Navigation" class="menubar focusables">
  <ul id="menubar-{{ .location | urlize }}" role="menubar" aria-label="{{ .location | title }} Navigation">
    <!-- Loop throu menu items -->
    {{ range $index, $menuItem := .menu }}
      {{ $hasCurrent := partial "menu-has-current" (dict "menuItem" .Page "currentPage" $currentPage) }}
      {{ $placehoder := slice }}
      <li role="none" class="menubar-list-item">
        {{ if and $menuItem.Page.Pages $menuItem.Page.Params.includeChildren }}
          <a  role="menuitem"
              href="#"
              tabindex="0"
              aria-haspopup="true"
              aria-expanded="false"
              class="menu-item {{ .Title | anchorize }}"
          >
            {{ $menuItem.Pre }}
            {{ $menuItem.Name | title }}
            {{ $menuItem.Post }}
          </a>
          {{ partial "components/menubarMenu" (dict "currentPage" $currentPage "location" $location "menuItem" . ) }}
        {{ else }}
          <a  role="menuitem"
              href="{{ $menuItem.URL }}"
              tabindex="0"
              aria-haspopup="false"
              aria-expanded="false"
              class="menu-item {{ .Title | anchorize }}"
          >
            {{ $menuItem.Pre }}
            {{ $menuItem.Name | title }}
            {{ $menuItem.Post }}
          </a>
        {{ end }}
      </li>
    {{ end }}
    {{ if $site.Params.enableSearchInMain }}
      <li role="none" class="menubar-list-item">
        {{ partial "forms/search-form-inline-icon" . }}
      </li>
    {{ else if and ($site.Params.enableOffCanvasSearch) (eq $location "main")}}
      <li role="none" class="menubar-list-item">
        <a href="#offcanvas" role="menuitem" aria-label="search" class="open-offcanvas" tabindex="-1">
          <span class="sr-only">Search</span>
          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" class="svg-inline--fa fa-search fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg>
        </a>
      </li>
    {{ end }}
  </ul>
</nav>
