{{ $scratch := newScratch }}
<ul class="social-accounts flex-list">
  {{ range . }}
  {{ $parsed := urls.Parse . }}
  {{ $split := split $parsed.Host "." }}
  {{ if eq (len $split ) 3}}
    {{ $scratch.Set "name" (index $split 1) }}
  {{ else }}
  {{ $scratch.Set "name" (index $split 0) }}
  {{ end }}
  {{ $name := $scratch.Get "name" }}
  <li>
    <a href="{{ . }}" aria-label="{{ $scratch.Get "name" | title }}" target="new">
      {{ partial (printf `icons/%s` $name) }}
      <span class="sr-only">{{ $scratch.Get "name" | title }}</span>
    </a></li>
  {{ end }}
</ul>
