{{ define "hero" }}
  {{ partial "components/hero" . }}
{{ end }}

{{ define "main" }}
{{ $scratch := newScratch }}
{{ $site := .Site }}
<main id="main" aria-label="Main Content" tabindex="0">
  {{ .Content }}
  <ul class="unstyled-list flex one">
    {{ range .Pages.ByWeight }}
      {{ with .Params.heroImage }}
        {{ $scratch.Set "image" . }}
      {{ else }}
        {{ $scratch.Set "image" $site.Data.organization.defaultHeroImage }}
      {{ end }}
      <li>
        <a href="{{ .Permalink | absURL }}"  class="">
          {{ partial "article" . }}
        </a>  
      </li>
    {{ end }}
  </ul>
</main>
{{ end }}

{{ define "sidebar" }}
  {{ partial "aside" . }}
{{ end }}