// Default Colors
@forward 'colors';
@use 'colors' as *;

// Global Plugin Variables
  $border: 1px solid #ccc;
  $class-name: "";
  $radius: 0;
  $font-family: Arial, Helvetica, sans-serif;
  $transition: all 0.3s ease;
  $breakpoint: 60rem;
  $shadow: 0 0 .2em rgba($black, $transparency);
  $hr-color: $gray;

// Spacing
  // creates CSS variables in :root
  $space:        0;
  $space-min:    $space - 8;
  $space-least:  $space - 2;
  $space-less:   $space - 1;
  $space-more:   $space + 1;
  $space-most:   $space + 2;
  $space-max:    $space + 4;

  // using CSS variables from above. Use these for spacing.
  var(--space): var(--space);
  var(--space-min): var(--space-min);
  var(--space-least): var(--space-least);
  var(--space-less): var(--space-less);
  var(--space-more): var(--space-more);
  var(--space-most): var(--space-most);
  var(--space-max): var(--space-max);

  
// headings
  $h1-font-size: 4;
  $h2-font-size: 3;
  $h3-font-size: 2;
  $h4-font-size: 1;
  $h5-font-size: 0;
  $h6-font-size: 0;
  $heading-color: $black;
  $heading-padding-top: var(--space-less);
  $heading-padding-bottom: 0;
  $heading-margin-bottom: var(--space-less);
  $heading-line-height: 1;

// Button
  $button-radius: $radius;
  $button-margin: var(--space-least) var(--space-less);
  $button-hover-shadow: inset 0 0 0 99em rgba($white, $transparency);
  $button-click: inset 0 0 0 99em rgba($black, $transparency);
  $button-pseudo-hover-shadow: inset 0 0 0 99em rgba($black, $transparency / 2);
  $button-bg: $primary;
  $button-color: $white;
  $button-disabled-bg: #bbb;

// Card
  $card-shadow: 0;
  $card-border: $border;
  $card-radius: $radius;
  $card-shadow: $shadow;
  $card-margin-bottom: var(--space);
  $card-p-padding: var(--space-less) var(--space-least);
  $card-header-border-bottom: 1px solid #333;

// Checkbox
  $checkbox-character: '\2714';
  $checkbox-radius: $radius;
  $checkbox-radius: $radius;
  

// Drop Immage
  // The ratio for the images (responsive by default)
  $dropimage-ratio: 16 / 9;

  // The percentage of height (respect of width)
  $dropimage-height: percentage(1 / $dropimage-ratio);

  $dropimage-background-color: #ddd;

  // This comes from camera.svg. Converted with:
  // http://dopiaza.org/tools/datauri/index.php
  $dropimage-background-image: 'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NDAiIGhlaWdodD0iNjQwIiB2ZXJzaW9uPSIxLjEiPjxnIHN0eWxlPSJmaWxsOiMzMzMiPjxwYXRoIGQ9Ik0gMTg3IDIzMCBDIDE3NSAyMzAgMTY1IDI0MCAxNjUgMjUyIEwgMTY1IDMwMCBMIDE2NSA0MDggQyAxNjUgNDIwIDE3NSA0MzAgMTg3IDQzMCBMIDQ2MyA0MzAgQyA0NzUgNDMwIDQ4NSA0MjAgNDg1IDQwOCBMIDQ4NSAzMDAgTCA0ODUgMjUyIEMgNDg1IDI0MCA0NzUgMjMwIDQ2MyAyMzAgTCAxODcgMjMwIHogTSAzNjAgMjU2IEEgNzAgNzIgMCAwIDEgNDMwIDMyOCBBIDcwIDcyIDAgMCAxIDM2MCA0MDAgQSA3MCA3MiAwIDAgMSAyOTAgMzI4IEEgNzAgNzIgMCAwIDEgMzYwIDI1NiB6Ii8+PGNpcmNsZSBjeD0iMzYwIiBjeT0iMzMwIiByPSI0MSIvPjxwYXRoIGQ9Im0yMDUgMjI1IDUtMTAgMjAgMCA1IDEwLTMwIDAiLz48cGF0aCBkPSJNMjg1IDIwMEwyNzAgMjI1IDM3NiAyMjUgMzYxIDIwMCAyODUgMjAwek0zMTAgMjA1TDMzNyAyMDUgMzM3IDIxOCAzMTAgMjE4IDMxMCAyMDV6Ii8+PHBhdGggZD0ibTQwNSAyMjUgNS0xMCAyMCAwIDUgMTAtMzAgMCIvPjwvZz48L3N2Zz4=';
  $dropimage-radius: $button-radius;
  $dropimage-margin: $button-margin;

// Fontello
  // ! need to add variables

// Generic
  $generic-color: #000;
  $generic-link-color: inherit;
  $generic-shadow-color: #000;
  $generic-bg: #fff;
  $class-name: "";

// Grid
  $grid-space: var(--space);
  $vertical: $grid-space;
  $horizontal: $grid-space;

// Input
  $input-height: var(--space-most);
  $input-bg: #fff;

// Label
  $label-font-size: -1;

// ! Modal - has no variables right now

// Nav
  $nav-height: 3em;
  $nav-shadow: $shadow;
  $nav-position: fixed;
  $nav-sides: .6em;
  $nav-responsive: true;
  $nav-open-left: false;
  $nav-timing: .5s;

// Normalize
  $normalize-display: true;
  $normalize-ie: true;

// Radio
  $radio-size: 1em;
  $radio-border: $border;

// Select
  $select-height: 0;
  $margin: var(--space-least);
  $padding: var(--space-least) var(--space-less);

// ! Stack has no variables right now

// Table
  $table-stripe: rgba(0, 0, 0, .05);

// Tooltip  
  $tooltip-background: $black;
  $tooltip-size: .8em;

