{{ define "hero" }}
  {{ partial "components/hero" . }}
{{ end }}

{{ define "main" }}
<main id="main" class="main-list" aria-label="Main Content" tabindex="0">
  {{ .Content }}
  <ul class="unstyled-list flex one">
    {{ range .Paginator.Pages }}
      {{ if ne .Params.layout "overview" }}
        <li>
          <a href="{{ .Permalink }}"   class="">
            {{ partial "article" . }}
          </a>
          <hr/>
        </li>
      {{ end }}
    {{ end }}
  </ul>
  {{ partial "components/pagination" . }}
</main>
{{ end }}

{{ define "sidebar" }}
  {{ partial "aside" . }}
{{ end }}

{{ define "template" }}
  {{ partial "show-template" (dict "Which" .Kind "Template" "layouts/news-and-results/page.html") }}
{{ end }}