{{ define "hero" }}
  {{ partial "components/hero" . }}
{{ end}}

{{ define "main" }}
  <main id="main" class="main-single" aria-label="Main Content" tabindex="0">
    {{ .Content }}
    {{ partial "components/share-buttons.html" . }}
  </main>
{{ end }}

{{ define "sidebar" }}
  {{ partial "aside" . }}
{{ end }}

{{ define "structuredData" }}
  {{ partial "structured/article" . }}
{{ end }}

{{ define "template" }}
  {{ partial "show-template" (dict "Which" .Kind "Template" "layouts/_default/single.html") }}
{{ end }}