{{ $seq := seq 3 }}

{{ $id := partial "getBlockId" . }}
{{ $postsDirectory := .page.Site.Params.postsDirectory }}
<div id="block-{{ $id }}" {{partial "getBlockClass" . | safeHTMLAttr }}>

{{/*<div id="block-{{ $id }}" class="block latest-posts bg-{{ $bg }} {{ if .block.fullWidth }}full-width{{end}}">*/}}
  <div class="wrapper container">
    {{ $posts := sort ( where .page.Site.RegularPages "Section" $postsDirectory) "Date" "desc" }}
    {{ $qty := .block.qty }}
    {{ partial "block-title" .block }}
    {{ with $posts }}
    {{ $columnsClass := partial "getColumnsClass" $seq }}
    <div class="latest-posts flex one {{ $columnsClass }}-600">
      {{ range first $qty . }}
        <a href="{{ .Permalink | absURL }}">
          {{ partial "article" . }}
        </a>
      {{ end }}  
    </div>
    <div class="block-link flex {{ $columnsClass }} justify-center">
      <div class="text-center">
        <div></div>
        <a class="button"  href="/{{ $postsDirectory }}">See all news articles</a>
      </div>
    </div>
    {{ end }}
  </div>
</div>