{{ $id := partial "getBlockId" . }}
<div id="block-{{ $id }}" {{partial "getBlockClass" . | safeHTMLAttr }}>
  <div class="wrapper container text-center">
    {{ partial "block-title" .block }}
    {{ with .block.content }}
      {{ . | markdownify }}
    {{ end }}
    {{ $columnsClass := partial "getColumnsClass" .block.logos }}
    <div class="logo-group flex about-section three four-600 five-800 eight-1000 {{ $columnsClass }}-600 align-center">
      {{ range .block.logos }}
        {{ $alt := humanize (index (split (path.Base . ) ".") 0) }}
        {{ $imgSrc := partial "getImgSrcXs" . }}
        <div class="">
          {{ partial "picture" (dict "imgSrc" $imgSrc "alt" $alt) }}
        </div>
      {{ end }}
    </div>
  </div>
</div>