@use "../../config";
@use '../utility';
.page-title {
  h1 {
    font-size: var(--space-3);
    line-height: 1;
    font-weight: 800;
  }
  .thumbnail {
    margin-right: var(--space-most) !important;
  }
  line-height: 1.2;
  color: config.$secondary;
}
//test