@use './global' as *;
@use './spacing' as *;

// Card
$card-shadow: none;
$card-border: none;
$card-radius: $radius;
$card-margin-bottom: var(--space);
$card-p-padding: var(--space-less) var(--space-least);
$card-header-border-bottom: 1px solid #333;
