@use "config";
@use "utility";

html {
  overflow-x: hidden;
  overflow-y: scroll;
  @include utility.mod(font-size,0);
  background-color: config.$footer-bg;
  height: 100vh;
  max-width: 100%; 
}

body {
  height: auto;
  font-family: config.$font-family;
  line-height: config.$line-height;
  color: config.$generic-color;
  &:focus {
    outline: none !important;
    border: none !important;
  }
}

body.search.loading {
  max-width: 30%;
  margin: 0 auto;

  svg {
    display: block;
    width: 100%;
    height: auto;
    animation:spin 4s linear infinite;
  }
}
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.svg-shadow {
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
}
:root {
  // @include mod(--space--10,$space--10);
  // @include mod(--space--9,$space--9);
  // @include mod(--space--8,$space--8);
  // @include mod(--space--7,$space--7);
  // @include mod(--space--6,$space--6);
  // @include mod(--space--5,$space--5);
  // @include mod(--space--4,$space--4);
  // @include mod(--space--3,$space--3);
  // @include mod(--space--2,$space--2);


  // @include mod(--space-1,$space-1);
  // @include mod(--space-2,$space-2);
  // @include mod(--space-3,$space-3);
  // @include mod(--space-4,$space-4);
  // @include mod(--space-5,$space-5);
  // @include mod(--space-6,$space-6);
  // @include mod(--space-7,$space-7);
  // @include mod(--space-8,$space-8);
  // @include mod(--space-9,$space-9);
  // @include mod(--space-10,$space-10);

}

.stretch {
  display: flex;
  align-items: stretch;

  > a {
    display: flex;
    align-items: stretch;

    // > * {
    //   display: block;
    //   flex-basis: 100%;
    // }
  }
}