<picture>
  {{ $imageExt := path.Ext .imgSrc.url }}
  {{ if ne $imageExt ".svg"}}
  {{ .imgSrc.dataSrcSet | safeHTML }}

    <img
      src="/images/blank.png"
      {{ .imgSrc.dataSrcset | safeHTMLAttr }}
      {{ .imgSrc.sizes | safeHTMLAttr }}
      width="100%"
      height="auto"
      aria-hidden="false"
      class="lazy"
      alt="{{ .alt }}"/>

  {{ else }}

    <img
      src="{{.img}}"
      width="100%"
      height="auto"
      aria-hidden="false"
      class="lazy"
      alt="{{ .alt }}"/>  

  {{ end }}
</picture>